# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
desktop.ini
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ================= #
# Adventure creator #
# ================= #
*.csproj
polimi.vpd.eidolon/Assets/AdventureCreator/Demo/UI/InGameUI.prefab
polimi.vpd.eidolon/Assets/AdventureCreator/Demo/UI/PauseUI.prefab
