# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
polimi.vpd.eidolon/polimi.vpd.eidolon.CSharp.csproj
polimi.vpd.eidolon/polimi.vpd.eidolon.CSharp.Editor.csproj
polimi.vpd.eidolon/polimi.vpd.eidolon.CSharp.Plugins.csproj

# ============ #
# OS generated #
# ============ #
.DS_Store
desktop.ini
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ================= #
# Adventure creator #
# ================= #
polimi.vpd.eidolon/Assets/AdventureCreator/Demo/UI/InGameUI.prefab
polimi.vpd.eidolon/Assets/AdventureCreator/Demo/UI/PauseUI.prefab
polimi.vpd.eidolon/Assets/Daniele/modelli/materials/
polimi.vpd.eidolon/Assets/Daniele/modelli/objects/car/Materials/
polimi.vpd.eidolon/Assets/Daniele/modelli/objects/doll/Materials/
polimi.vpd.eidolon/Assets/Daniele/modelli/objects/door/Materials/
polimi.vpd.eidolon/Assets/Daniele/modelli/objects/ketchup/Materials/


